/* Desktop styles */

@media only screen and (min-width: 1024px) {
  nav {
    background: none;
    position: fixed;
    background-color: $base-nav-bar-color;
    top: 0;
  }
  body {
    padding-top: 120px;
  }
  .header {
    margin: 100px;
    font-size: 2rem;
  }
  #logo {
    font-size: 2rem;
    color: $font-color-light;
  }
  .cta-newtweet {
    transform: none;
    color: $font-color-light;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 110%;
    margin-right: 30px;
  }
}
