.tweet-composer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 200px;
  display: none;
  label {
    font-weight: bold;
    font-size: 1em;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
}

#tweet-text {
  margin: 5px;
  font-size: 1.5rem;
  width: 100%;
  border: 0px;
  border-bottom: solid 4px black;
  background-color: #f4f1ec;
  resize: none;
  outline: none;
}

.btn-tweet {
  font-weight: bold;
  font-family: $secondary-font-family;
  font-size: 1rem;
  color: white;
  background-color: $base-nav-bar-color;
  border: 0px;
  padding: 10px;
}

.counter {
  font-weight: bold;
  font-family: $secondary-font-family;
  color: black;
}

.over-limit-red {
  color: $overlimit-color;
}

.error {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 1rem;
}
