/* Desktop styles */

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  body {
    padding-top: 120px;
  }
  .header {
    margin: 100px;
    font-size: 2rem;
  }
  #logo {
    font-size: 2rem;
  }
  .cta-newtweet {
    transform: none;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 110%;
    margin-right: 30px;
  }
}