nav {
  width: 100vw;
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2.5em;
  position: fixed;
  top: 0;
}

.cta-newtweet {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  transform: scale(10%);
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
}