article.tweet {
  border: solid 4px black;
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin: 5px;
}

.username {
  margin-left: 5px;
}

.userid {
  flex-grow: 1;
  text-align: right;
  font-size: 1rem;
  color: gray;
}

.tweet-profile-pic {
  width: 50px;
}

.tweet-content {
  margin-top: 10px;
  font-size: .8em;
  flex-grow: 1;
  border: 0px;
  border-bottom: solid 4px black;
}

.timestamp {
  font-size: .7em;
}

.tweet-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tweet-actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.tweet-action-icon {
  margin-right: 10px;
  padding: 2px;
}

.tweet-action-icon:hover {
  background-color: darkgrey;
}